body{
    margin:40px;
}
.grid-container{
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    grid-gap:38px;
    grid-auto-rows: minmax(261px, 560px);
    justify-content: center;
    height: 100vh;
}
.grid-item{
    background-color: #D9D9D9;
}

.grid-item-1
{
    grid-row: span 2;
}

.grid-item-6{
    grid-column: 1/1;
}

.grid-item-7{
    grid-column: 2/-1;
}
.grid-item > img{
    height:100%;
    width:100%;
}