.material-symbols-outlined{
    color:gray !important;
    position:relative;
    top:5px;
}
.container 
{
    
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.left-container{


}
.right-container{
padding-top: 20px;




}

label{
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;

}
.form-fields{
    padding:15px;
}
.title{
    padding-bottom: 7px;
}
input, select, textarea{
    width:70%;
    border-radius: 4px;
    border-width: 1px;
    border-color: #808080;
    padding:10px;
}
select{
    width:75%;
}
.hybrid-field{
    display:flex;
    
}
input[type="checkbox"], input[type="radio"]{
    width:10%;
}
.search-field{
    
}