.grid-container{
    border:1px solid red;
    border-bottom: none;
    border-right: none;
    /* grid code */
    display:grid;
    grid-template-columns: 200px 250px;
    grid-gap:20px;
    justify-content: space-evenly;
    align-content: center;
    height: 100vh;

    

}
.grid-item{
    background-color: green;
}
