.grid-container{
    border:1px solid red;
    border-bottom: none;
    border-right: none;
    /* grid code */
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap:2px;
    grid-template-rows: 10fr 2fr 5fr;

    

}
.grid-item{
    background-color: green;
}